<div class="card">
    <div class="weather__degree d-flex justify-content-center">
        <i class="pi pi-cloud"></i>
        <p>18<sup class="degree">C</sup></p>
    </div>
    <div class="weather__status text-center">Cloudy</div>
    <div class="weather__table d-flex justify-content-center">
        <table>
            <tr>
              <th>Humidity</th>
              <th>Wind speed</th>
            </tr>
            <tr>
              <td class="text-center">45%</td>
              <td class="text-center">19.2 km/j</td>
            </tr>
          </table>
    </div>
</div>