@import './../../../../assets/mixins/mixins.scss';

.card {
    @include card;

    .weather__degree {
        i {
            font-size: 5rem;
        }
    
        p {
            font-size: 4rem;
            .degree {
                &:before {
                    content: "\00b0"
                }
            }
        }
    }
    
    .weather__status {
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .weather__table {
        th {
            padding: 5px;
            font-weight: 500;
            color: #ffff00;
        }
    }
}