<div class="card">
    <div class="weather__degree d-flex justify-content-center">
        <img class="weather__icon" [src]="iconUrl">
        <p>{{temp}}<sup class="degree">K</sup></p>
    </div>
    <div class="weather__status text-center">{{weatherStatus}}</div>
    <div class="weather__table d-flex justify-content-center">
        <table>
            <tr>
              <th>Humidity</th>
              <th>Wind speed</th>
            </tr>
            <tr>
              <td class="text-center">{{humidity}}%</td>
              <td class="text-center">{{windSpeed}} km/j</td>
            </tr>
          </table>
    </div>
</div>