<div class="city__forecast">
    <div class="city__search">
        <h1>{{currentCountry}} Cities</h1>
        <ng-select [(ngModel)]="selectedCity" class="mb-3">
            <ng-option *ngFor="let city of cities" [value]="city">{{city}}</ng-option>
        </ng-select>
        <app-card></app-card>
    </div>
    <div>
        <div echarts [options]="chartOption" class="weather__chart"></div>
        <div class="week__weather">
            <div class="px-3 week__weather-card">
                <p>Today</p>
                <i class="pi pi-cloud"></i>
                <div>Humidity</div>
                <div>30%</div>
            </div>
            <div class="px-3 week__weather-card">
                <p>Today</p>
                <i class="pi pi-cloud"></i>
                <div>Humidity</div>
                <div>30%</div>
            </div>
            <div class="px-3 week__weather-card">
                <p>Today</p>
                <i class="pi pi-cloud"></i>
                <div>Humidity</div>
                <div>30%</div>
            </div>
            <div class="px-3 week__weather-card">
                <p>Today</p>
                <i class="pi pi-cloud"></i>
                <div>Humidity</div>
                <div>30%</div>
            </div>
            <div class="px-3 week__weather-card">
                <p>Today</p>
                <i class="pi pi-cloud"></i>
                <div>Humidity</div>
                <div>30%</div>
            </div>
            <div class="px-3 week__weather-card">
                <p>Today</p>
                <i class="pi pi-cloud"></i>
                <div>Humidity</div>
                <div>30%</div>
            </div>
            <div class="px-3 week__weather-card">
                <p>Today</p>
                <i class="pi pi-cloud"></i>
                <div>Humidity</div>
                <div>30%</div>
            </div>
        </div>
    </div>
</div>
