<div class="city__forecast d-flex justify-content-around align-items-center">
    <div class="city__search">
        <h1>Egypt Cities</h1>
        <ng-select [(ngModel)]="selectedCar" class="mb-3">
            <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
        </ng-select>
        <app-card></app-card>
    </div>
    <div>
        <div echarts [options]="chartOption" class="weather__chart"></div>
        <div class="week__weather d-flex justify-content-between">
            <div class="px-3 week__weather-card">
                <p>Today</p>
                <i class="pi pi-cloud"></i>
                <div>Humidity</div>
                <div>30%</div>
            </div>
            <div class="px-3 week__weather-card">
                <p>Today</p>
                <i class="pi pi-cloud"></i>
                <div>Humidity</div>
                <div>30%</div>
            </div>
            <div class="px-3 week__weather-card">
                <p>Today</p>
                <i class="pi pi-cloud"></i>
                <div>Humidity</div>
                <div>30%</div>
            </div>
            <div class="px-3 week__weather-card">
                <p>Today</p>
                <i class="pi pi-cloud"></i>
                <div>Humidity</div>
                <div>30%</div>
            </div>
            <div class="px-3 week__weather-card">
                <p>Today</p>
                <i class="pi pi-cloud"></i>
                <div>Humidity</div>
                <div>30%</div>
            </div>
            <div class="px-3 week__weather-card">
                <p>Today</p>
                <i class="pi pi-cloud"></i>
                <div>Humidity</div>
                <div>30%</div>
            </div>
            <div class="px-3 week__weather-card">
                <p>Today</p>
                <i class="pi pi-cloud"></i>
                <div>Humidity</div>
                <div>30%</div>
            </div>
        </div>
    </div>
</div>
