@import './../../../../assets/mixins/mixins.scss';
@import "~swiper/css";
@import "~swiper/css/navigation";

.city__forecast {
    height: 100vh;
    padding: 1rem;

    .city__search {
        color: #fff;
    }

    .swiper {
        .week__weather-card {
            @include card;
            padding: 20px 35px;
            box-shadow: none;
            cursor: pointer;
        }
    }

    .toggle-btn {
        @include button;
    }
}