@import './../../../../assets/mixins/mixins.scss';

.city__forecast {
    height: 100vh;
    padding: 1rem;

    .city__search {
        color: #fff;
    }

    .weather__chart {
        width: 70vw;
    }

    .week__weather {
        padding: 0 53px;
        
        .week__weather-card {
            @include card;
            padding: 20px 35px;
        }
    }
}