.dashboard {
    padding: 10rem;
    
    .dashboard__country {
        width: 100%;
        color: #fff;

        a {
            padding: 10px 25px;
            border-radius: 16px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            text-align: center;
            cursor: pointer;
            text-decoration: none;
            font-weight: 500;
            color: #fff;
            background: transparent;
            &:hover {
                box-shadow: 0 4px 30px rgb(110 106 106 / 10%);
            }  
        }
    }

    .dashboard__card {
        width: 100%;
    }
}